<div class="flex items-center gap-2 mb-6">
  <div class="flex-1">
    <label class="block mb-2 text-sm font-medium text-gray-900">Name</label>
    <input
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    />
  </div>
  <!--
  <div class="flex-1">
    <label class="block mb-2 text-sm font-medium text-gray-900">Type</label>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    >
      <option>Text</option>
      <option>Number</option>
      <option>Date</option>
      <option>Checkbox</option>
    </select>
  </div>
  <div class="flex items-center h-full">
    <div class="flex items-center h-5">
      <input
        id="remember"
        aria-describedby="remember"
        type="checkbox"
        class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300"
        required=""
      />
    </div>
    <div class="ml-3 text-sm">
      <label for="remember" class="font-medium text-gray-900">Required?</label>
    </div>
  </div>
  -->
</div>
