<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="sm:ml-6">
          <div class="flex space-x-4">
            <a
              routerLink="/"
              class="hover:bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium"
              aria-current="page"
              >Home</a
            >

            <a
              routerLink="/forms"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
              >Forms</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
