<table class="min-w-full">
  <thead class="bg-gray-50">
    <tr>
      <th
        scope="col"
        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
      >
        Name
      </th>
      <th
        scope="col"
        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
      >
        Creator
      </th>
      <th
        scope="col"
        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
      >
        Creation Date
      </th>
      <th
        scope="col"
        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
      >
        Answers
      </th>
      <th scope="col" class="relative py-3 px-6">
        <span class="sr-only">View</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white" *ngFor="let form of forms">
      <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap">
        {{ form.title }}
      </td>
      <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{ form.creator }}
      </td>
      <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{ form.creationDate | date: "dd/mm/yyyy" }}
      </td>
      <td class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap">
        {{ form.answers.length }}
      </td>
      <td class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap">
        <a [routerLink]="'' + form.id" class="text-blue-600 hover:underline"
          >View</a
        >
      </td>
    </tr>
  </tbody>
</table>
